// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.vue-color{
  color: #34495e !important;
}
.principal-bg{
  background-color: white !important;
}
.vue-color-btn{
  background-color: #42b983;
  border-color: #42b983;
  color: white;
}
.w-20-px{
  width: 20px;
}
